.footer {
	width: 100%;
	bottom: 0px;
	height: 4em;
	clear: both;
	background:#6cf;
	background-color: #333333;
	margin: 0 auto;

}

.ulh {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background:#6cf;
   background-color: #333333;
}

.lih {
    float:left;
}


.lif {
    list-style-type: none;
    float:right;

}

.af {
display: block;
    color: white ;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}