.footer, .push {
	background: #6cf;
	background-color: #333333;
	clear: both;
	position: absolute;
	top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
	width: 100%;
}

.ulh {
	background: #6cf;
	background-color: #333333;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.lih {
    float: center;
}

.lif {
	float: right;
    list-style-type: none;
}

.af {
    color: white ;
	display: block;
	padding: 16px;
    text-align: center;
    text-decoration: none;
}