@CHARSET "UTF-8";

h1{
	color:black;
	text-align:center;
	padding-top:3%;
}

table{
	border-spacing:10px;
}

div{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3%;
	padding-right: 3%;
	background-color: rgba(235,235,235,0.7);
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 18px;
}

body {
	height: 700px;
	background: url("/grp5/background.jpg ") no-repeat !important;
	background-position: center;
}
